<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
</head>
<body>
    <h1>Вы авторизованы!</h1>
    <p>Через 3 секунды вы будете перенаправлены на страницу профиля.</p>
    <!-- Скрытая форма для отправки данных -->
    <form id="redirectForm" action="/profile" method="POST">
        <input type="hidden" name="name" value={{.}}>
    </form>
    
    <script>
        setTimeout(function(){
            document.getElementById('redirectForm').submit();
        }, 3000);
    </script>
    
    <noscript>
        <meta http-equiv="refresh" content="0;url=/profile">
        <a href="/profile">Кликните здесь, если перенаправление не произошло</a>
    </noscript>
</body>
</html>