<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QuitSmoking</title>
    </head>
    <body>
        <header>
            <!-- Логотип-ссылка на главную -->
            <a href="index.html">
                <img src="/static/logo/logo.webp" alt="Логотип" class="logo">
            </a>
            <!-- Навигационное меню -->
            <nav>
                <ul>
                    <li><a href="page1.html">Страница 1</a></li>
                    <li><a href="page2.html">Страница 2</a></li>
                    <li><a href="/form">Войти</a></li>
                </ul>
            </nav>
        </header>
        <div>Привет, гость! Это приложение для тех, кто бросает курить!</div>
    </body>
</html>