<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <script>
        // JavaScript для перенаправления
        function redirect() {
            window.location.href = "/profile";
        }
        
        // Запускаем перенаправление через 3 секунды (3000 миллисекунд)
        setTimeout(redirect, 3000);
    </script>
</head>
<body>
    <header>
        <!-- Логотип-ссылка на главную -->
        <a href="index.html">
            <img src="/static/logo/logo.webp" alt="Логотип" class="logo">
        </a>
        <!-- Навигационное меню -->
        <nav>
            <ul>
                <li><a href="page1.html">Страница 1</a></li>
                <li><a href="page2.html">Страница 2</a></li>
            </ul>
        </nav>
    </header>
    <h1>Вы авторизованы!</h1>
    <p>Через 3 секунды вы будете перенаправлены на страницу профиля.</p>

    <!-- Для браузеров без поддержки JavaScript -->
    <noscript>
        <meta http-equiv="refresh" content="3;url=/profile">
        <a href="/profile">Кликните здесь, если перенаправление не произошло</a>
    </noscript>
</body>
</html>